<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sapologie.org</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" tlog href="application.scss" />
    </head>

<body>
    <div class="navbar">
        <div class="navbar-logo">
            <img src="images/sapologue.png" alt="logo" class="logo">
        </div>
        <div class="navbar-right">
            <div class="btn-blue" onclick="location.href='http://madame.lefigaro.fr/style/cinq-bonnes-raisons-de-faire-de-son-homme-un-roi-de-la-sape-170415-96170'">
                Devenir Sapologue
            </div>
            <div class="btn-blue" onclick="location.href='https://accreditation.fhcm.paris/'">
                Mon compte
            </div>
            <div class="btn-blue" onclick="location.href='https://www.defursac.fr/fr/'">
                Boutique Sapeurisante
            </div>
            <div class="avatar">
            <img src="images/morpheus.png" alt="avatar" class="avatar" onclick="location.href='https://fr.wikipedia.org/wiki/Samuel_L._Jackson'">
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="plate">
                            <p class="script"><span>Bienvenue sur</span></p>
                            <p class="shadow text1">le site du</p>
                            <p class="shadow text2">SAPEUR</p>
                            <p class="shadow text3">THP</p>
                            <p class="script"><span>(Ze sui le ?)</span></p>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <div class="card">
                            <div class="card-avatar">
                                <img src="images/morpheus.png" alt="card-avatar" class="card-avatar" title="Il a le style, hein ?">
                            </div>
                            <div class="card-category">
                                <h1>PATRON DE LA SAPE</h1>
                                <h2>Samuel L. Jackson</h2>
                                <p>THP c'est de la balle. Je suis le sapeur.</p>
                            </div>
                            <div class="tabs">
                                <input type="radio" name="tabs" id="tabone" checked="checked">
                                <label for="tabone">Notre Histoire</label>
                                <div class="tab">
                                    <p>La Société des ambianceurs et des personnes élégantes (SAPE) est une mode vestimentaire originaire du Congo.
                                    Ce courant est comparé au dandysme et ses adeptes, appelés les sapeurs, s'habillent ainsi chez les grands couturiers, et pratiquent la sapologie.
                                    L'élégance, la toilette parfumée, et le respect de la tricologie sont les piliers du mouvement. On les reconnaît à leur cri de guerre : "Ze suis le sapeur".</p>
                                </div>
                                
                                <input type="radio" name="tabs" id="tabtwo">
                                <label for="tabtwo">Les 10 Commandements</label>
                                <div class="tab">
                                    <p>1 - Tu saperas sur terre avec les humains et au ciel avec ton Dieu créateur.</p>
                                    <p>2 - Tu materas les ngayas (non connaisseurs), les nbéndés (ignorants), les tindongos (les parleurs sans but) sur terre, sous terre, en mer et dans les cieux.</p>
                                    <p>3 - Tu honoreras la sapologie en tout lieu.</p>
                                    <p>4 - Les voies de la sapologie sont impénétrables à tout sapologue ne connaissant pas la règle de trois, la trilogie des couleurs achevées et inachevées.</p>
                                    <p>5 - Tu ne cèderas pas.</p>
                                    <p>6 - Tu adopteras une hygiène vestimentaire et corporelle très rigoureuse.</p>
                                    <p>7 - Tu ne seras ni tribaliste, ni nationaliste, ni raciste, ni discriminatoire.</p>
                                    <p>8 - Tu ne seras pas violent, ni insolent.</p>
                                    <p>9 - Tu obéiras aux préceptes de civilité des sapologues et au respect des anciens.</p>
                                    <p>10 - De par ta prière et tes 10 commandements, toi sapelogue, tu coloniseras les peuples sapophobes.</p>
                                </div>
                                
                                <input type="radio" name="tabs" id="tabthree">
                                <label for="tabthree">La dédicace</label>
                                <div class="tab">
                                    <p>Honneur aux troueurs de Slip, à HFR, et à Mme. BBsteve</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>